#drum-machine{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#display{
    width: 200px;
    height: 50px;
    border: .4rem solid black;
    border-radius: .5rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
}

.keys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.drum-pad{
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}